
{:source-paths ["src" "cli"]
 :dependencies [[mvc-works/hsl        "0.1.2"]
                [respo                "0.8.16"]
                [mvc-works/verbosely  "0.1.2"]
                [respo/value          "0.2.3"]
                [respo/ui             "0.3.6"]
                [fipp                 "0.6.12"]]
 :open-file-command ["subl" ["%s:%s:%s" :file :line :column]]
 :builds {:app {:output-dir "target/"
                :asset-path "./"
                :target :browser
                :modules {:main {:entries [respo-router.main]}}
                :devtools {:after-load respo-router.main/reload!
                           :http-root "target"
                           :http-port 7000}
                :compiler-options {:infer-externs :auto}
                :release {:output-dir "dist/"}}
          :test {:target :node-script
                 :output-to "target/test.js"
                 :main respo-router.test/main!
                 :devtools {:after-load respo-router.test/main!}}}}
